.image-selector{
    width:350px;
    height:400px;
    border-radius: 1rem;
    object-fit: contain;
    margin-top: 2rem;
}
.selector-colored{
    width:100vw;
    height:auto;
    margin:0;
    padding:5rem 25%;
    background:  #F7F7F7;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 2rem;
    box-shadow: 1rem 0.5rem 1rem grey;
  }
    .selector-heading{
      font-size: 3.5rem;
      /* color:#3A3845; */
      color:#54BAB9;
      margin:2rem auto;
    }
  .selector-p{
    font-size: 1.5rem;
    word-wrap: break-word;
    word-spacing: 0.25rem;
    color:#826F66;
    }