label{
    text-align: center;
    display:block;
    padding: 1rem;
}
input{
    width:80%;
    border: 1px solid grey;
    border-radius: 2px;
    /* box-shadow: 2px 2px 5px 5px lightgrey; */
    margin: 0 10%;
    padding: 0 2rem;
}
.btn-input{
    background-color:  rgb(84, 243, 179);
    border-radius: 5rem;
    padding:1rem 2rem;
    color:white;
    font-size: 1.3rem;
    font-weight: bold;
   
}
.btn-input:hover{
    background-color:  rgb(84, 243, 179);
    border-radius: 10rem;
    padding:1.2rem 2rem;
    color:white;
   
}
/* input[type="text"] {
   
width:100%;
} */




/* column preview template */
h3{
    font-size: 14px;
}
p{
    font-size: 10px;
    font-weight: bold;
    line-break: strict;
}
h1,h3,p{
    display: inline-block;
    padding: 5px 10px;
}
.skill-set{
    display: block;
}


.skill-li-4{
    list-style-type: none;
    display:inline-block;
    padding:0;
    width:auto;
    height:auto;
    margin-left: 5px;
    background: rgb(3, 3, 34);
    border-radius: 20px;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.software-li4{
    color: white;
    padding: 0;
    font-size: 1rem;
    display:inline-block;
    border-radius: 20px;
    text-align: center;
    margin: 0.5rem;
    list-style-type: none;
    text-transform: capitalize;
    font-weight: bold;
    background-color:  rgb(3, 3, 34);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .row-software4{
        margin:1px;
    }
.img{
    width: 140px;
    height: 140px;
    float: right;
    border-radius: 100px 100px;
    object-fit: cover;
}
.instituteName{
    display:block;
}

.col-preview{

    padding:5% 1%;
    
}
.preview{
    border:0.5px solid grey;
    padding: 2px;
}
.preview-heading-4{
    background-color:white;
    color:navy;
    margin:0 0 1rem;
    padding:2% 5%;
}
.preview-body-4{
    background-color: white;
    padding: 2% 5%;
    padding-left:5rem;
    text-align: left;
}
.preview-h3{
    display: block;
    
}
.main-h3{
    display:inline-block;
}
.preview-title-h3{
       
    display: block;
    font-weight: bold;
    color:navy;
}

@media print { 
   .no-print{
       display: none;
   }
    .printme  { 
        display: block;
        height:1000pt;
    
    }
    form{
        display:none;
    }
    h1{
        font-size:18pt;
        font-weight:bold;
    }
    h3{
        font-size: 14pt;
        display:inline;
    }
    p{
        font-size: 8pt;
        font-weight: bold;
    }
    h1,h3,p{
        display: inline-block;
        padding: 2pt;
    }
    .img{
        width: 100pt;
        height: 100pt;
        float: right;
        border-radius: 50%;
        object-fit: cover;
    }
   
    .col-preview{
    
        padding:5pt 5pt;
        
    }
    .inline-4{
        display: inline-block;
    }
    .preview{
        border:0.5pt solid grey;
        border-radius: 5pt;
        padding: 1pt;
    }
    .preview-heading-4{
        background-color:  white;
        color:navy;
        margin:0 0 5pt;
        padding:10pt;
    }
    .preview-body{
        background-color: white;
        padding: 10pt;
        text-align: left;
    }.skill{
        color:rgb(86, 86, 214);
        font-size: 16pt;
        word-spacing: 30pt;

    }
    .preview-h3{
        display: block;
       
    }
    .preview-title-h3{
       
            display: block;
            font-weight: bold;
            color:navy;
        }
    
}