
label{
    text-align: center;
    display:block;
    padding: 1rem;
}
input{
    width:80%;
    border: 1px solid grey;
    border-radius: 2px;
    /* box-shadow: 2px 2px 5px 5px lightgrey; */
    margin: 0 10%;
    padding: 0 2rem;
}
.btn-input{
    background-color:  rgb(84, 243, 179);
    border-radius: 5rem;
    padding:1rem 2rem;
    color:white;
    font-size: 1.3rem;
    font-weight: bold;
   
}
.btn-input:hover{
    background-color:  rgb(84, 243, 179);
    border-radius: 10rem;
    padding:1.2rem 2rem;
    color:white;
   
}
.software-input{
    width:auto; 
    margin: 4px;
    margin-left: 8%;
}
.img2{
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 80px 80px;
    object-fit: cover;
}

/* input[type="text"] {
   
width:100%;
} */




/* column preview template */
h3{
    font-size: 14px;
}
p{
    font-size: 14px;
    font-weight: 450;
    color:black;
}
.p-alert{
    color:red;
    font-weight: light;
}



h1{
    margin-left: 0;
    padding-left: 0;
    text-transform:capitalize;
}
h1,h3,p{
    display: inline-block;
    padding: 5px 10px;
}
.bold-6{
    color: #000;
    text-transform:capitalize;
}



.software-li{
list-style-type: none;
text-transform: capitalize;
font-weight: bold;
}
.row-software{
    margin:1px;
}
.img{
    width: 140px;
    height: 140px;
    float: right;
    border-radius: 100px 100px;
    object-fit: cover;
}
.instituteName{
    display:block;
    text-transform:capitalize;
}

.col-preview{

    padding:5% 1%;
    
}
.preview{
    border:0.5px solid grey;
    padding: 2px;
}
.preview-heading-2{
    color:#112B3C;
    background-color:white;
    margin:0 0;
    padding:2% 5%;
}
.preview-body{
    background-color: white;
    padding: 0%;
    text-align: left;
    display:table;
    clear: both;
}
/* div{
    float:left;
} */
#personalInfo-2 {

width:35%;
margin:0;
background-color: white;
float:left;
height:800px;
}

.skill{
    color:rgb(29, 29, 32);
    font-size: 14px;
    word-spacing: 12px;
    text-transform:capitalize;

}
.software{
    word-spacing: 12px;
    font-weight:500;
    text-transform:capitalize;
}
#professionalInfo2 {
   
   float:right;
    width:63%;
margin:0;
   
    }

.preview-h3{
    display: block;
    margin:1px;
    padding:2px;
    line-height:1rem;
    text-transform:capitalize;
    font-weight: bold;
    max-width: fit-content;
}
.preview-title-h3{
       
    display: block;
    font-weight: bold;
    color:navy;
    text-transform:capitalize;
}

@media print { 
   .no-print{
       display: none;
   }
    .printme  { display: block;}
    form{
        display:none;
    }
    h1{
        font-size:18pt;
        font-weight:bold;
    }
    h3{
        font-size: 14pt;
        display:inline;
    }
    p{
        font-size: 12pt;
        font-weight: 450;
    }
    h1,h3,p{
        display: inline-block;
        padding: 5pt 10pt;
    }
    .img{
        width: 100pt;
        height: 100pt;
        float: right;
        border-radius: 50%;
        object-fit: cover;
    }
   
    .col-preview{
    
        padding:10pt 5pt;
        
    }
    .preview{
        border:0.5pt solid grey;
        border-radius: 5pt;
        padding: 1pt;
    }
    .preview-heading-2{
        background-color:navy;
    color:white;
        margin:0 0;
        padding:15pt 30pt;
    }
    .preview-body{
        background-color: white;
        padding: 0pt;
        text-align: left;
    }
    /* #personalInfo-2 {

        width:40%;
        margin:0;
        background:transparent;
        float:left;
        height:800pt;
        }
     #professionalInfo2 {
           
           
        width:55%;
        margin:0;
           float: right;
           height: 800pt;
           
         } */
    .skill{
        color:rgb(24, 24, 234);
        font-size: 14pt;
        word-spacing: 12pt;

    }
    .preview-h3{
        display: block;
       
    }
    .preview-title-h3{
       
            display: block;
            font-weight: bold;
            color:navy;
        }
    
}