.dropdown-menu {
    background: red;
    width: 150px;
    position: absolute;
    top: 60px;
    list-style: none;
    text-align: start;
    font-size: 14px;
  }
  
  .dropdown-menu li {
    background: whitesmoke;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: lightblue;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    padding: 10px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }